<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                       class="form-control"
                       placeholder="search hospitals..."
                       #txtSearch
                       (keyup)="search( txtSearch.value )">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast"
     *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heanding">Loading</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Please wait</p>
        </div>
    </div>
</div>

<div class="row"
     *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitals ({{ hospitals.length }}) </h4>
                        <h6 class="card-subtitle">hospital registers</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-right">
                            <button class="btn btn-primary"
                                    (click)="openSweetAlert()">
                                <i class="fa fa-hospital-o"></i>
                                Create Hospital
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Photo</th>
                                <th>Name</th>
                                <th class="text-nowrap text-center w100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td class="text-center">
                                    <img [src]=" hospital.image! | images:'hospitals'"  
                                         [alt]="hospital.name"
                                         class="avatar cursor"
                                         (click)="openModal( hospital )">
                                </td>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="hospital name"
                                           [(ngModel)]="hospital.name">
                                </td>
                                
                                <td class="text-nowrap text-center">
                                    <a (click)="saveChanges( hospital )" 
                                       data-toggle="tooltip" 
                                       data-original-title="Save"
                                       class="cursor"><i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="destroyHospital( hospital)" 
                                       data-toggle="tooltip" 
                                       data-original-title="Delete"
                                       class="cursor"><i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                    <button class="btn btn-secondary mr-2">Previous</button>
                    <button class="btn btn-secondary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>